.App {
  height: 100vh;
  width: 100vw;
  background-color: #1d1d20;
  display: flex;
  align-items: center;
  justify-content: center;
}

.border-wrap {
  height: 80%;
  width: 80%;
  /* background-color: red; */
  padding: 20px;
  /* background: linear-gradient(0deg, red, #1d1d20); */
  border-radius: 20px;
}

.container {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background-color: #1d1d20;
}